* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-items {
    display: flex;
}

.item {
    list-style: none;
    margin: 0.5em;
}

.item a{
    text-decoration: none;
    color: gray;
    font-family: sans-serif;
}
